/* inicial */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
:root {
  /* Colors */
  --drak-navy: #453C67;
  --purple: #6D67E4;
  --light_blue: #46C2CB;
  --yellow: #F2F7A1;
  /* Colors */
/*   --orange: #FD841F;
  --dark-grey: #666;
  --light-grey: #ebebeb;
  --green: #39b54a; */
  /* Font */
  --font-roboto: "Roboto", sans-serif;
  /* Font sizes */
  --paragraph : 12px;
  --title: 24px;
  --prices: 18px;
  --discounts-descriptions: 16px;
}

/* carousel */
.carousel {
 display: flex;
 justify-content: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: 0 0 0 -5px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  /* cursor: pointer; */
  /* height: 15px; */
  /* width: 15px; */
 /*  margin: 0 2px; */
  /* background-color: #bbb; */
 /*  border-radius: 50%; */
  /* display: inline-block; */
  /* display: none; */
  /* transition: background-color 0.6s ease; */
}

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* category-cards */
.title{
 font-size: 20px;
 color: var(--drak-navy);
 text-align: center;
 text-transform: capitalize;
 padding-top: 20px;
}

.categories-section {
  width: 100%;
  padding: 10px;
}

.home-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-card {
  width: 100%;
  border-radius: 20px;
  margin: 5px 0;
  transition: all 1s ease;
  box-shadow: 0 0 5px var(--primary);
}

.category-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary);
}

.category-card img{
  width: 100%;
  border-radius: 20px;
}

/* cards */
.container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  padding: 5px;
}

.container .card{
  width: 150px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  height: 245px; 
  display: flex; 
  transition: all 0.5s ease-in-out;
 /*  background-color: var(--yellow); */
  position: relative;
  border-radius: 10px;
}

.card {
  display: flex; 
  flex-direction: column;
  margin: 2px; 
  padding: 2px;
}

.card .card-image {
  height: 150px; 
  margin: 1px;
 /*  background-color: orangered; */
}

.card .card-image img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.card .card-data{
  margin: 1px;
  padding: 5px;
  border-top: solid 2px var(--purple);
}

.card .card-data .price{
  display: flex;
  justify-content: flex-start;
  font-size: 15px;

}

.card .card-data .icon{
  color: var(--purple);
  border: 1px solid var(--purple);
  background-color: white;
  border-radius: 50%;
  width: fit-content; 
  padding: 5px;
  position: absolute;
  top: 135px;
  right: 3px;
  font-size: 14px;
}

.card .card-data .price .discount {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 5px;
  background-color: var(--purple);
  color: white;
  font-weight: 800;
  font-size: 13px;
  margin: 4px;
  padding: 0 6px;
}

.card .card-data .name {
  font-size: 12px;
  font-weight: 400;
}

.card .card-data .quotes{
  font-size: 10px;
}





@media screen and (min-width: 768px) {
  .categories-section {
    padding: 10px 40px;
  }
  .home-categories {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .category-card {
      width: 30%;
  }


}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}
