/* variables */
:root {
    /* Colors */
    --drak-navy: #453C67;
    --orange: #6D67E4;
    --light_blue: #46C2CB;
    --yellow: #F2F7A1;
    /* Font */
    /*  --font-roboto: "Roboto", sans-serif; */
    
    /* Font sizes */
    --paragraph : 12px;
    --title: 24px;
    --prices: 18px;
    --discounts-descriptions: 16px;
 }