<section class="container">
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <!-- card -->
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
    <article class="card">
        <a href="/products/detail">
            <div class="card-image">
                <img src="/images/microfibras.jpg" alt="">
            </div>
        </a>
        <div class="card-data">
            <div class="icon">
                <i class="fas fa-truck"></i>
            </div>
            <h5 class="name">Aquí va el nombre del producto etc etc etc...</h5>
            <div class="price">
                <p>$3960</p>
                <p class="discount">30% off</p>
            </div>
            <p class="quotes">6 cuotas de $660,00</p>
        </div>
    </article>
</section>